<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.password_manager_test_final">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:fullBackupContent="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.example.password_manager_test_final.activities.ChangePinActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.example.password_manager_test_final.activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.password_manager_test_final.activities.EnterPinActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.example.password_manager_test_final.activities.CreatePinActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.example.password_manager_test_final.activities.PasswordsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.example.password_manager_test_final.activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

    </application>

</manifest>